<main style="height: 100%;">
  <section style="padding-bottom: 0;height: 100%;">
    <div>
      <i style="font-size: 40px;"></i>
      <div>
        <p style="margin-bottom: 0;height: 50px;">
          Erstelle einen neuen Account und werde ein neues Mitglied.
        </p>
      </div>
      <form>
        <div>
          <label for="email">Email</label>
          <input id="email" name="email" type="email">
        </div>
        <div>Ungültige Email</div>
        <div>
          <label for="password">Passwort</label>
          <input id="password" name="password" type="password">
        </div>
        <div>
          <label for="repeatPassword">Passwort wiederholen</label>
          <input id="repeatPassword" name="repeatPassword"
                 type="password">
        </div>
        <div>Ungültiges Passwort</div>
        <div>Passwörter stimmen nicht
          überein.
        </div>
        <button type="submit">Registrieren</button>
        <button routerLink="/login" type="submit">Anmelden</button>
      </form>
    </div>
  </section>
</main>

