<main style="height: 100%;">
  <section
    style="padding-bottom: 0;height: 100%;">
    <div>
      <i style="font-size: 40px;margin-top: 15px;"></i>
      <div>
        <p style="margin-bottom: 0;height: 50px;">
          Melde dich an oder erstelle einen neuen Account.
        </p>
      </div>
      <form class="text-left">
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" name="email" type="email">
        </div>
        <div>Ungültige Email</div>
        <div>
          <label for="password">Passwort</label>
          <input id="password" name="password" type="password">
        </div>
        <div>Ungültiges Passwort.</div>
        <div>Benutzer nicht gefunden.</div>
        <div>
          <input id="checkbox" name="remember" type="checkbox">
          <label for="checkbox">Remember me</label>
        </div>
        <button type="submit">
          Anmelden
        </button>
        <button routerLink="/register" type="submit">
          Registrieren
        </button>
        <div style="margin-top: 21px;">
          <a><i class="fab fa-facebook-square float-left d-xl-flex"
                                              style="font-size: 45px;"></i></a>
          <a><i class="fab fa-google-plus-square float-left d-xl-flex"
                                            style="font-size: 45px;margin-right: 25px;margin-left: 25px;"></i></a>
          <a><i style="font-size: 45px;"></i></a>
        </div>
      </form>
    </div>
  </section>
</main>

